*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body,
button,
input,
option,
textarea {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $font-height;
  letter-spacing: $letter-spacing;
}

body {
  background-color: $bg-out-color;
}


// --- Texts ---

@for $i from 1 to 7 {
  h#{$i} {
    margin: 1rem auto;
    line-height: 1;
  }
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 0.875em;
}

small {}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: italic;
}

del {
  text-decoration: overline;
}

s {
  text-decoration: overline;
}


//

a {
  text-decoration: $link-text-deco;
  text-decoration-skip: ink;
  font-size: inherit;
  color: $link-color;
  transition: all $transition-speed $transition-curze;

  &:hover {
    color: $link-hover-color;
  }

  &.actived {
    color: $link-actived-color;
  }
}

abbr {}

address {}

bdi {}

bdo {}

data {}

dfn {}

ins {}

mark {}

pre {}

time {}

u {}

//

code {}

kbd {}

samp {}

var {}


//

ruby {}

rp {}

rt {}

sub {}

sup {}


//

br {}

hr {}

wbr {}


// Section

article {}

aside {}

div {}

dialog {}

footer {}

header {}

main {}

nav {}

p {}

pre {}

q {}

section {}

span {}

// List

details {
  summary {}
}

dl {
  dt {}
  dd {}
}

menu {
  menuitem {}
}

ol,
ul{
  margin: 1em 0;
  padding: 0 0 0 2.25em;

  li {}

}


// --- Form ---

form {}

label {
  margin: 0;
  border-width: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  padding: $input-padding;
  line-height: $font-height;
  background-color: transparent;
  outline: 0 none;

  &:active,
  &:focus {
    outline: $input-outline;
  }

}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-width: $input-border-width;
  border-style: solid;
  border-color: $input-border-color;
  padding: $input-padding;
}

input[type="color"] {
  margin: 0;
  padding: $input-color-padding;
  height: 2rem;
}

input[type="file"] {
  padding: $input-file-padding;
}

input[type="range"] {
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 0 .2em;

  &:active,
  &:focus {
    outline: 0 none;
  }

}

datalist {}

keygen {}

legend {}

output {}

select {

  optgroup {}

  option {}

}

textarea {}


// Buttons

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-width: $button-border-width;
  border-style: solid;
  border-color: $button-border-color;

  &:hover {
    background-color: $button-hover-bg;
  }

}


// --- Objects ---

canvas {}

iframe {}

meter {}

progress {}


// Image

img {}

figure {
  figcaption {}
}

map {
  area {}
}

picture {}


// Embed

audio {}

source {}

track {}

video {}


// --- Tables ---

table {

  caption {}

  colgroup {

    col {}

  }

  tbody {}

  td {}

  tfoot {}

  th {}

  thead {}

  tr {}

}
