// Colors

$white:        #fff;
$white-dark:   #f1f1f1;
$white-darker: #e5e5e5;

$black-light:  #4f4f4f;
$black:        #333;
$black-dark:   #212121;
$black-darker: #131313;
$black-real:   #000;

$gray: #9a9a9a;

$gray-alpha-light: rgba($black, .04);
$gray-alpha: rgba($black, .18);
$gray-alpha-dark: rgba($black, .36);
$gray-alpha-darker: rgba($black, .48);

$green: #a0e034;
$green-dark: #86c41b;

$red: #ff4343;
$red-dark: #e73333;

// Custom Colors

$bg-out-color: $white-darker;
$bg-color:     $white;

$content-bg: $white-dark;

$font-color: $black;
$font-muted-color: $gray;

$link-color: rgba($black-light, .7);
$link-hover-color: rgba($black, .85);
$link-actived-color: $black;

$button-border-color: $gray-alpha;
$button-hover-bg: $gray-alpha-light;

$input-border-color: $gray-alpha;
$input-outline-color: $gray-alpha-darker;

$item-hover-bg: $gray-alpha-light;

$frame-border-color: $white-darker;

$tag-border-color: rgba($black-real, .08);

$box-border-color: rgba($black-real, .08);
$box-bg-color: $white;

$box-tool-item-color: rgba($white, .75);
$box-tool-item-hover-color: rgba($white, .85);
$box-tool-item-actived-color: $white;

// Size

$wrap-limit: 1920px;

// Fonts

$font-family: 'Inconsolata',
              'Gill Sans MT Pro',
              'Noto sans CJK TC',
              'sans-serif';
$font-title-family: 'Kanit',
                    'Gill Sans MT Pro',
                    'Noto sans CJK TC',
                    'sans-serif';
// 'Holtwood One SC'
$font-size: 16px;
$font-height: 1.6;
$letter-spacing: .0025em;

$link-text-deco: none;

// Border

$tag-border-width: 1px;
$tag-border: $tag-border-width solid $tag-border-color;
$tag-border-radius: .25em;

$box-border-width: 1px;
$box-border: $box-border-width solid $box-border-color;
$box-section-border: $box-border-width solid $box-border-color;
$box-border-radius: .25em;

$input-border-width: 1px;
$input-border: $input-border-width solid $input-border-color;
$input-outline: 1px solid $input-outline-color;

$button-border-width: 1px;
$button-border: $button-border-width solid $button-border-color;
$button-border-radius: .25em;

$card-border-radius: .25em;


// Guts

$f1: .75em;
$f2: 1.5em;
$f3: 2.25em;
$f4: 3em;

$obj-btn-top: .25em;

$nav-gut: .05em .25em;

$head-title-gup: 2rem 2rem 1.9rem;

$list-hor-gut: .25em 2em;

// Padding

$frame-padding: .5em 1.5em;

$list-padding: .5em 1em;

$obj-padding: .15em;

$head-title-padding: .5rem 1.25rem;
$title-padding: .75rem 1.25rem;

$nav-padding: .5em;

$input-padding: .1em .45em .0625em;
$input-color-padding: .05em .1em 0;
$input-file-padding: .1em .45em 0 .0625em;

$button-padding: .1em .75em .0625em;
$button-bg-padding: .3em 1.625em .2875em;
$button-lg-padding: .75em 2.125em .725em;

$inner-pull: 1.35em;

$item-pull: 3.75em;

$aside-padding: 1em 1.25em;

$tag-padding: 0 .75em;

$group-padding: .5em .75em;

$box-inner-padding: .5em 2.125em;
$box-order-padding: .5em .75em;
$box-btn-padding: .5em 1.25em;
$box-tool-item-padding: .5625em .5em .5em;

$popup-close-padding: .5em 1.25em;
$popup-inner-padding: 1em;

$checkbox-padding: .4em .65em .25em .35em;
$checkbox-custom-padding: .35em .65em .25em 1.75em;


// Shadow

$popup-shdaow: .125em .125em .25em rgba($black, .35);

$card-shadow: 0.05em 0.05em 0.5em 0.05em $gray-alpha;

$box-order-shadow: .05em .05em .125em rgba($black, .12);
$box-order-text-shadow: .0625em .0625em rgba($black, .12);
$box-shadow: none;
$box-section-border-shadow: none;

$box-tool-item-hover-shadow: .125em .125em .2em rgba($black-real,.5);

$navbar-title-shadow: .125em .125em .2em rgba($black-real,.5);

$nav-link-hover-shadow: .2em .2em 0 rgba($black, .18),
                        -.2em -.2em 0 rgba($black-light, .12);
$nav-link-actived-shadow: 0 -0.075em 0 rgba($black, 1) inset;

$input-active-shadow: 0 0 0 0.125em $gray-alpha-dark;

$title-shadow: none;

// Inputs

$checkbox-custom-size: .75em;


// Transition

$transition-speed: .25s;
$transition-curze: ease-in-out;
