.box-order-wrap {
  counter-reset: boxOrder;

  .box-order {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: .5em 0;
    border-radius: $box-border-radius;
    background-color: $box-bg-color;
    transition: all $transition-speed $transition-curze;

    &:hover {
      box-shadow: $box-order-shadow;
    }

    & > *:first-child {
      border-radius: $box-border-radius 0 0 $box-border-radius;
    }

    & > *:last-child {
      border-radius: 0 $box-border-radius $box-border-radius 0;
    }

    .order {
      position: relative;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $box-border;
      border-width: $box-border-width 0 $box-border-width $box-border-width;
      padding: $box-order-padding;
      min-width: 5em;
      background-clip: padding-box;
      transition: all $transition-speed $transition-curze;

      &::before {
        counter-increment: boxOrder;
        content: '' counter(boxOrder);
        position: relative;
        font-size: 1.5em;
        z-index: 1;
        transition: all $transition-speed $transition-curze;
      }

      &.correct::before,
      &.wrong::before {
        text-shadow: $box-order-text-shadow;
      }

      &.correct {
        background-color: transparent;

        & .fa {
          color: rgba($green, .5);
        }

      }

      &.wrong {
        background-color: transparent;

        & .fa {
          margin-top: -.035em;
          color: rgba($red, .25);
        }

      }

      & .fa {
        position: absolute;
        font-size: 5em;
        z-index: 0;
      }

    }

    .box {
      flex: 1 1 auto;

      .box-inner {
        padding: $box-inner-padding;
      }

    }

    .box-btn {
      border: $box-border;
      border-width: $box-border-width $box-border-width $box-border-width 0;
      padding: $box-btn-padding;
      transition: all $transition-speed $transition-curze;
    }

  }

}
