include _variables.pug
include _components.pug


doctype 5
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= website_title
    link(href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../styles/main.css")

    block head

  body

    block body

    block script
