.form-group {
  margin: #{$f1} auto;
}

.inp-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-grow: 1;

  .inp,
  .addon,
  .btn {

    &:first-child {
      border-left-width: $box-border-width !important;
    }

    &:last-child {
      border-right-width: $box-border-width !important;
    }

  }

  .addon,
  .btn {
    border-color: $box-border-color !important;
    border-style: solid;
    border-width: $box-border-width 0;
  }

  .inp {
    flex-grow: 1;
  }

  .addon {
    padding: $input-padding;
    & + .btn {
      border-left-width: $box-border-width;
    }
  }

  .btn {

    & + .addon {
      border-left-width: $box-border-width;
    }

  }

}

.lb {

  .text {
    display: block;
    margin-bottom: .35em;
  }

  .inp {
    display: block;
    width: 100%;
  }

  .form-group.inline & {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    .text {
      display: inline-block;
      margin-right: .5em;
      margin-bottom: 0;
      padding: $input-padding;
    }

  }

}


// Checkboxes
.cb-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;

  .cb-title {
    flex-grow: 1;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .cb-lb {
    flex-shrink: 1;
    display: inline-block;
    margin: .25em;
    padding: $checkbox-padding;

    .text {
      display: inline-block;
    }

    &:hover {
      background-color: $item-hover-bg;
    }

  }

  &.custom {

    .cb {
      display: none;

      &:checked + .text,
      input[type="checkbox"]:checked + .text,
      input[type="radio"]:checked + .text {
        border-color: $box-border-color;

        &::before {
          border-radius: .5em;
        }

      }

      &:active + .text,
      &:focus + .text,
      input[type="checkbox"]:active + .text,
      input[type="checkbox"]:focus + .text,
      input[type="radio"]:active + .text,
      input[type="radio"]:focus + .text {
        outline: $input-outline;

        &::before {
          box-shadow: $input-active-shadow;
        }

      }

    }

    .cb-lb {
      padding: 0;

      .text {
        border: 1px solid transparent;
        padding: $checkbox-custom-padding;
        @include transition(all);

        &::before {
          content: '';
          top: .05em;
          position: relative;
          display: inline-block;
          margin-right: $checkbox-custom-size;
          margin-left: -1.25em;
          border: 2px solid #{$black};
          padding: 2px;
          width: $checkbox-custom-size;
          height: $checkbox-custom-size;
          background-clip: content-box;
          @include transition(all);
        }

      }

      &:hover .text{
        border-color: $box-border-color;

        &::before {
          background-color: $black;
        }

      }

    }

  }

}
