.wrap {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: $wrap-limit;
  min-height: 100%;
  background-color: $bg-color;
  z-index: 0;

  .wrap-inner {
    position: relative;
    z-index: 5;
  }

}

.container {
  margin: 1em auto;
  width: 100%;
  max-width: 1440px;
}

.box {
  margin: $f2;
  border: $box-border;
  background-color: $box-bg-color;
  box-shadow: $box-shadow;

  .container & {
    margin: 0;
  }

  .box-header,
  .box-nav {
    border-bottom: $box-section-border;
    box-shadow: $box-section-border-shadow;
  }

  .box-header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .title {
      flex-grow: 1;
      margin: 0;
    }

  }

  .box-footer {
    border-top: $box-section-border;
    box-shadow: $box-section-border-shadow;
  }

  .box-tool {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0 1em;

    .item {

      .btn {
        border-width: 0;
        padding: $box-tool-item-padding;
        color: $box-tool-item-color;
        transition: all $transition-speed $transition-curze;

        &:hover {
          color: $box-tool-item-hover-color;
          text-shadow: $box-tool-item-hover-shadow;
        }

        &:active {
          color: $box-tool-item-actived-color;
          transition: none;
        }

      }

    }

  }

  .box-nav {}

  .box-inner {}

  .title {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
    text-shadow: $title-shadow;
  }

}

.fluid {
  width: 100% !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.popup {
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  background: rgba($black-real, .45);
  z-index: 9990;

  .box {
    box-shadow: $popup-shdaow;

    .box-header {

      .popup-close {
        margin-left: 1em;
        border-width: 0;
        border-left: $box-border;
        padding: $popup-close-padding;
      }

    }

    .box-inner {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      padding: $popup-inner-padding;

      & > * {
        flex: 1 1 auto;
      }

    }

  }

}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  &.jcsa {
    justify-content: space-around;
  }

  &.jcsb {
    justify-content: space-between;
  }

  &.jcc {
    justify-content: center;
  }

}

.flex-ver {
  @extend .flex;
  flex-direction: column;
}

.flex-fluid {
  flex: 1 1 auto;
}

.list-pull-8 {
  padding-top: .8em !important;
}

.list-pull-7 {
  padding-top: .7em !important;
}
