.list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  .list-item {
    padding: $list-padding;

    &:hover,
    &:focus {
      background-color: $item-hover-bg;
    }

  }

}

.list-hor {
  @extend  .list;
  flex-direction: row;
  margin: $list-hor-gut;

  & .topic:first-child,
  & .item:first-child {
    margin-left: 0;
  }

  & .topic:last-child,
  & .item:last-child {
    margin-right: 0;
  }

  & > .topic {
    margin: .125em 1.25em;
    font-weight: bold;
  }

  & > .item {
    margin: .125em .25em;
  }

}

.list-inline {
  @extend .list;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin: 0;

  .item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .topic,
    .inner {
      padding: $list-padding;
    }

    .topic {
      text-align: right;
      flex: 0 0 25%;
      font-weight: bold;
    }

    .inner {
      flex: 1 1 70%;
      margin: 0;
    }

  }

}

.list-group {
  @extend .list;

  .list-group-header {
    @extend .list-item;

    font-weight: bold;
    font-size: 1.15em;
  }

  .list-group-inner {

    & > .list {
      margin: 0;
      padding: $list-padding;
    }

  }

}

.list-pain {
  @extend .list;
}

.list-obj {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: $obj-padding !important;

  & > .obj-item {
    flex-grow: 1;
    margin-left: .5em;
    margin-right: .5em;
    padding: .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  .obj-btn,
  .obj-drag {
    align-self: flex-start;
    flex-grow: 0 !important;
    margin-top: $obj-btn-top;
  }

  .obj-drag {
    width: 1.6em;
    text-align: center;
    user-select: none;
  }
}
