.navbar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: baseline;

  .title-link {
    display: inline-block;
    margin: $head-title-gup;
    color: inherit;
    text-decoration: inherit;
    text-shadow: $navbar-title-shadow;

    .title {
      margin: 0;
      border-bottom-width: 0;
    }

  }

}

.nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding: 1em;

  .navbar & {
    font-size: 1.25em;
  }

  .link {
    margin: $nav-gut;
    padding: $nav-padding;
    cursor: pointer;
  }

}

.nav-ver {
  @extend .nav;
  flex-direction: column;

  .link {
    display: block;
    margin: .5em auto;
    width: 90%;
  }

}
