extends ./_frame/frame

block main
  .container
    .box.fuild
      .box-header
        h2.title Records
        ul.box-tool.list-hor
          li.item
            button.btn(type="button")
              i Plus

      .box-nav
        ul.list-hor
          li.item
            span Year
          li.item
            span Month

      .box-inner
        span Content
